[Unit]
Description=Sensor Hub Bluetooth Scanner Service

[Service]
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStart=/opt/sensorhub/bin/sensorHubBluetoothScanner.lua
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
