[Unit]
Description=Sensor Action Service

[Service]
ExecStart=/opt/sensorhub/bin/sensorHubAction.lua server
Restart=always
RestartSec=30

[Install]
WantedBy=silverline.target 
