[Unit]
Description=Sensor Hub Network Service

[Service]
ExecStart=/opt/sensorhub/bin/sensorHubNetwork.lua server
Restart=always
RestartSec=30

[Install]
WantedBy=silverline.target 
