[Unit]
Description=Sensor Hub SHDAP Devices Service

[Service]
ExecStart=/usr/bin/node /opt/sensorhub/bin/shdapApiServer.js
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
