[Unit]
Description=Redis Datastore Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
Restart=always
RestartSec=30


[Install]
WantedBy=multi-user.target

