[Unit]
Description=Cybertan Write Eth MAC

[Service]
Type=onshot
ExecStart=/usr/sbin/write_eth_mac.sh
RemainAfterExit=yes



[Install]
WantedBy=network.target

